@import "leaflet/dist/leaflet.css";

:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --grey-light-1: #faf9f9;
  --grey-light-2: #f4f2f2;
  --grey-light-3: #f0eeee;
  --grey-light-4: #ccc;
  --grey-dark-1: #333;
  --grey-dark-2: #777;
  --grey-dark-3: #999;
  --font-primary: 'Josefin Sans', sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: 93.75em) {
    font-size: 55%;
  };

  @media only screen and (max-width: 68.75em) {
    font-size: 50%;
  };

  @media only screen and (max-width: 50em) {
    font-size: 45%;
  };
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: var(--font-primary);
  color: var(--grey-dark-1);
}


